/* Variable Imports */
@import '../variables.css';

.article-desc {
  display: flex;
  flex-direction: column;
  position: relative;  
  max-height: 100%;
  padding: 5%;
  background-color: white;
  border-radius: 15px;
  font-family: var(--ff-base);
  text-wrap: none;
}

.article-desc h1 {
  font-family: var(--ff-base);
  color: var(--clr-veryDarkGrayishBlue);
  font-size: 2rem;
}

.article-desc p {
  font-size: 1rem;
  margin-top: 3%;
  font-family: var(--ff-base);
  color: var(--clr-desaturatedDarkBlue);
}

@media screen and (max-width: 375px) {

  .article-desc {
    padding: 10%;
  }

  .article-desc h1 {
    font-size: 1.25rem;
  }

  .article-desc p {
    font-size: 1rem;
  }
}